/*___Geral___*/
html, body {
    overflow-x: hidden;
    width: 100%;
}
.container-fluid{
	padding: 120px 0px 120px 0px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.title{
	font-family: nunito;
	text-align: center;
	margin-bottom: 25px;
	text-shadow: 2px 2px 2px #9a9a9a;
}
.text{
	font-family: times;
	font-size: 14px;
	letter-spacing: 0.9px;
}
#Intro, #Panoramica, #Projetos, #Conclusoes, #Referencias{
	background: url(midia/bgbranco.png) center fixed;
	color: #212121;
	text-shadow: 0px 0px 1px #212121;
}
#Sobre, #Conteudo, #Agradecimentos, #Anexos{
	background: url(midia/bgazul.png) center fixed;
	color: #fcfcfc;
	text-shadow: 0px 0px 1px #fcfcfc;
}
/* Barra de Navegação */
#barra_nav{
	background-color: rgba(0, 0, 0);
	opacity: 0.9;
	padding-right: 20px;
	box-shadow: 0px 2px 5px #232323;
}
#nav_item{
	font-size: 15px;
	letter-spacing: 1px;
	color: white;
	font-family: nunito;
	margin: 0px 8px 0px 8px;
	text-shadow: 1px 1px 2px gold;
}
#nav_item:hover{
	color: gold;
	transform: scale(1.2);
	-ms-transform: scale(1.2);	/* IE 9 */
	-webkit-transform: scale(1.2);	/* Safari */
	transition-duration: 0.4s;
	text-shadow: 0.5px 0.5px 2px #000;
}
/* Seção Inicial */
#Inicio{
	background-color: #66ac66;
	padding-top: 150px;
	padding-bottom: 150px;
}
.img_perfil{
	background: url(midia/foto.png) no-repeat center;
	background-size: cover;
	width: 240px;
	height: 240px;
	margin: 0px auto 50px auto;
	border-radius: 50%;
}
.img_intro{
	display: block;
	margin: auto auto 15px auto;
	max-width: 50%;
	min-width: 50%;
	min-height: auto;
	max-height: auto;
	border-radius: 15%;
}
.imgp{
	width:180px;
	display: block;
	margin: auto;
	border-radius: 50%;
}
/* Seção Conteúdos */
.taxon{
	width: 50%;
	display: block;
	margin: auto;
}
.filo{
	width: 50%;
	display: block;
	margin: auto;
}
.hab{
	background: #efefef;
	color: black;
	padding: 30px 25px 40px 25px;
	border-radius: 25px;
	text-shadow: 0px 0px 1px #0000aa;
}
.h1, .h2, .h3, .h4, .pa1, .pa2, .pa3{
	background-size: cover;
	width: auto;
	height: 200px;
	margin: 0px auto 10px auto;
}
.img{
	max-width: 100%;
	min-width: 100%;
	min-height: 200px;
	max-height: 200px;
	margin: 10px 0px 10px 0px;
	box-shadow: 0.5px 1px 5px grey;
}
.text_port{
	color: #fcfcfc;
	margin: 10px 15px 10px 15px;
	opacity: 0;
}
.text_port:hover{
	background: rgba(0, 0, 0, 0.7);
	opacity: 1;
	transition-duration: 1.2s;
}
/* Seção Sobre */
.sob{
	padding: 30px 25px 40px 25px;
	text-shadow: 0.5px 0.5px 1px #a0a0a0;
}
.iconl{
	color: #0000ff;
	text-shadow: 2px 2px 0px black;
}
.iconi{
	color: #ff00ff;
	text-shadow: 2px 2px 1px grey;
}
.iconw{
	color: #00ff00;
	text-shadow: 2px 1.5px 1px blue;
}
.icony{
	color: #ff0000;
	text-shadow: 0px 0px 7px black;
}
.icong{
	color: #000;
	text-shadow: 0px 0px 5px gold;
}
#icon{
	font-size: 42px;
	opacity: 0.8;
	margin: 0px 10px 40px 10px;
}
#icon:hover{
	opacity: 1;
	transform: scale(1.2);
	-ms-transform: scale(1.2);	/* IE 9 */
	-webkit-transform: scale(1.2);	/* Safari */
	transition-duration: 0.4s;
}
/*Seção Anexos*/
.refer{
	font-family: calibri;
	font-size: 11px;
	letter-spacing: 0.9px;
}
.slick{
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: auto;
}
.img_carossel{
	margin: 0px 15px 15px 10px;
	box-shadow: 1px 2px 4px #232323;
	border-radius: 3%;
}
/* Footer */
.ft{
	background-color: #111;
	color: #fcfcfc;
	padding: 50px 0px 30px 0px;
}